.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid #BFBFBF; */
  background-color: white;
  box-shadow: #c8c8c8 0px 3px 8px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.ul-subheader {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
.ul-subheader .active-subheader {
  border-bottom: 3px solid #585858;
  color: #383838;
}
.link-subheader {
  font-weight: bold;
  font-size: 1.1rem;
}
.link-subheader > a {
  text-decoration: none;
  color: #888888;
  text-transform: uppercase;
  font-weight: bold;
}

/* .link-subheader > a:hover,.link-subheader > a:active{
    border-bottom: 3px solid black;
} */
